<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.high5ive.android.moira">

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature android:name="android.hardware.type.watch" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".login.KakaoLoginApplication"
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MOIRA"
        android:usesCleartextTraffic="true">
        <activity android:name=".ui.mypage.edit.editinfo.EditTagActivity"></activity>
        <activity android:name=".ui.mypage.edit.editinfo.EditIntroActivity" />
        <activity android:name=".ui.mypage.edit.editinfo.EditPositionActivity" />
        <activity android:name=".ui.mypage.edit.editinfo.EditNicknameActivity" />
        <activity android:name=".ui.mypage.apply.ApplyInfoActivity" />
        <activity android:name=".ui.mypage.MyReviewActivity" />
        <activity android:name=".ui.teamfinding.newpost.AddTagActivity" />
        <activity android:name=".ui.teamfinding.search.RecruitPostSearchActivity" />
        <activity android:name=".ui.mypage.cs.AccountSettingActivity" />
        <activity android:name=".ui.home.ProjectStartActivity" />
        <activity android:name=".ui.home.MoiraDescriptionActivity" />
        <activity android:name=".ui.mypage.cs.AskActivity" />
        <activity android:name=".ui.initial.InitialActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.teamfinding.user.UserProfileDetailActivity" />
        <activity android:name=".ui.message.MessageHistoryActivity" />
        <activity android:name=".ui.mypage.edit.EditProfileActivity" />
        <activity android:name=".ui.teamfinding.apply.ApplyActivity" />
        <activity android:name=".ui.teamfinding.recruit.CommentActivity" />
        <activity android:name=".ui.mypage.scrap.ScrapListActivity" />
        <activity android:name=".ui.message.MessageBoxActivity" />
        <activity android:name=".ui.home.AlarmActivity" />
        <activity android:name=".ui.mypage.edit.addinfo.certificate.AddCertificateActivity" />
        <activity android:name=".ui.mypage.edit.addinfo.award.AddAwardHistoryActivity" />
        <activity android:name=".ui.mypage.edit.addinfo.tag.AddTagActivity" />
        <activity android:name=".ui.mypage.edit.addinfo.link.AddLinkActivity" />
        <activity android:name=".ui.mypage.edit.addinfo.career.AddJobDepartmentActivity" />
        <activity android:name=".ui.mypage.edit.addinfo.career.AddCompanyActivity" />
        <activity android:name=".ui.mypage.edit.addinfo.career.AddCareerActivity" />
        <activity android:name=".ui.mypage.edit.addinfo.education.AddMajorActivity" />
        <activity android:name=".ui.teamfinding.search.UserPoolSearchActivity" />
        <activity android:name=".ui.applicant.profile.ApplicantProfileActivity" />
        <activity android:name=".ui.myteam.evaluate.EvaluateMemberDetailActivity" />
        <activity android:name=".ui.mypage.edit.addinfo.education.AddSchoolActivity" />
        <activity android:name=".ui.mypage.edit.addinfo.education.AddEducationActivity" />
        <activity android:name=".ui.applicant.review.ApplicantReviewActivity" />
        <activity android:name=".ui.mypage.post.PostListActivity" />
        <activity android:name=".ui.mypage.apply.ApplyListActivity" />
        <activity android:name=".ui.applicant.list.ApplicantListActivity" />
        <activity android:name=".ui.myteam.evaluate.EvaluateMemberActivity" />
        <activity android:name=".ui.myteam.detail.TeamDetailActivity" />
        <activity android:name=".ui.teamfinding.newpost.NewPostActivity" />
        <activity android:name=".ui.teamfinding.recruit.RecruitPostDetailActivity" />
        <activity android:name=".ui.teamfinding.apply.ApplyCompleteActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="oauth"
                    android:scheme="kakao80833a0235285489b82981db2a4c698e" />
            </intent-filter>
        </activity>
    </application>

</manifest>