<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.high5ive.android.moira">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".login.KakaoLoginApplication"
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MOIRA">
        <activity android:name=".ui.initial.InitialActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.teamfinding.user.UserProfileActivity" />
        <activity android:name=".ui.message.MessageHistoryActivity" />
        <activity android:name=".ui.mypage.edit.EditProfileActivity" />
        <activity android:name=".ui.teamfinding.apply.ApplyActivity" />
        <activity android:name=".ui.teamfinding.recruit.CommentActivity" />
        <activity android:name=".ui.mypage.scrap.ScrapListActivity" />
        <activity android:name=".ui.message.MessageBoxActivity" />
        <activity android:name=".ui.notify.NotifyActivity" />
        <activity android:name=".ui.addinfo.certificate.AddCertificateActivity" />
        <activity android:name=".ui.addinfo.award.AddAwardHistoryActivity" />
        <activity android:name=".ui.addinfo.tag.AddTagActivity" />
        <activity android:name=".ui.addinfo.link.AddLinkActivity" />
        <activity android:name=".ui.addinfo.career.AddJobDepartmentActivity" />
        <activity android:name=".ui.addinfo.career.AddCompanyActivity" />
        <activity android:name=".ui.addinfo.career.AddCareerActivity" />
        <activity android:name=".ui.addinfo.major.AddMajorActivity" />
        <activity android:name=".ui.teamfinding.search.SearchActivity" />
        <activity android:name=".ui.applicant.profile.ApplicantProfileActivity" />
        <activity android:name=".ui.myteam.evaluate.EvaluateMemberDetailActivity" />
        <activity android:name=".ui.addinfo.education.AddSchoolActivity" />
        <activity android:name=".ui.addinfo.education.AddEducationActivity" />
        <activity android:name=".TeamListActivity" />
        <activity android:name=".ui.applicant.review.ApplicantReviewActivity" />
        <activity android:name=".ui.mypage.post.PostListActivity" />
        <activity android:name=".ui.mypage.apply.ApplyListActivity" />
        <activity android:name=".ui.applicant.list.ApplicantListActivity" />
        <activity android:name=".ui.myteam.evaluate.EvaluateMemberActivity" />
        <activity android:name=".ui.myteam.TeamDetailActivity" />
        <activity android:name=".ui.teamfinding.newpost.NewPostActivity" />
        <activity android:name=".RecruitListActivity" />
        <activity android:name=".ui.teamfinding.recruit.RecruitDetailActivity" />
        <activity android:name=".ContestDetailActivity" />
        <activity android:name=".ContestListActivity" />
        <activity android:name=".FindContestActivity" />
        <activity android:name=".ui.teamfinding.apply.ApplyCompleteActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="oauth"
                    android:scheme="kakao80833a0235285489b82981db2a4c698e" />
            </intent-filter>
        </activity>
    </application>

</manifest>