<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.high5ive.android.moira">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MOIRA">
        <activity android:name=".ui.teamfinding.recruit.CommentActivity">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity android:name=".ui.mypage.scrap.ScrapActivity" />
        <activity android:name=".ui.message.MessageBoxActivity" />
        <activity android:name=".ui.noti.NotifyActivity" />
        <activity android:name=".ui.addinfo.certificate.AddCertificateActivity" />
        <activity android:name=".ui.addinfo.award.AddAwardHistoryActivity" />
        <activity android:name=".ui.addinfo.tag.AddTagActivity" />
        <activity android:name=".ui.addinfo.link.AddLinkActivity" />
        <activity android:name=".ui.addinfo.career.AddJobDepartmentActivity" />
        <activity android:name=".ui.addinfo.career.AddCompanyActivity" />
        <activity android:name=".ui.addinfo.career.AddCareerActivity" />
        <activity android:name=".ui.addinfo.major.AddMajorActivity" />
        <activity android:name="com.high5ive.android.moira.ui.teamfinding.search.SearchActivity" />
        <activity android:name=".ui.signup.SetTagActivity" />
        <activity android:name=".ui.signup.SetPositionActivity" />
        <activity android:name=".ui.signup.SetNicknameActivity" />
        <activity android:name=".ui.applicant.ApplicantProfileActivity" />
        <activity android:name=".EvaluateMemberDetailActivity" />
        <activity android:name=".ui.addinfo.education.AddSchoolActivity" />
        <activity android:name=".ui.addinfo.education.AddEducationActivity" />
        <activity android:name=".TeamListActivity" />
        <activity android:name=".ApplicantReviewActivity" />
        <activity android:name=".PostListActivity" />
        <activity android:name=".ApplyListActivity" />
        <activity android:name=".ApplicantListActivity" />
        <activity android:name=".EvaluateMemberActivity" />
        <activity android:name=".TeamDetailActivity" />
        <activity android:name=".ui.teamfinding.newpost.NewPostActivity" />
        <activity android:name=".RecruitListActivity" />
        <activity android:name=".ui.teamfinding.recruit.RecruitDetailActivity" />
        <activity android:name=".ContestDetailActivity" />
        <activity android:name=".ContestListActivity" />
        <activity android:name=".FindContestActivity" />
        <activity android:name=".ui.apply.ApplyCompleteActivity" />
        <activity android:name=".ui.login.LoginActivity" />
        <activity android:name=".MainActivity"/>
        <activity android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Redirect URI: "kakao{NATIVE_APP_KEY}://oauth“ -->
                <data
                    android:host="oauth"
                    android:scheme="kakao80833a0235285489b82981db2a4c698e" />
            </intent-filter>
        </activity>
    </application>

</manifest>